python-dotenv
streamlit
requests
numpy
pillow
opencv-python
rapidocr-onnxruntime
torch
transformers
langchain
langchain-openai
langgraph
typing_extensions
llama-index-core
llama-index-llms-openai
llama-index-tools-tavily-research
llama-index-embeddings-openai
openai>=1.52.0
tiktoken>=0.7.0
